body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.custom-calendar .ant-picker-cell-inner {
  visibility: hidden;
}

#root {
  width: 100%;
}
